{% extends 'base.html' %}

{% block content %}
    <div id="">

    </div>
    <div class="page-section bg-primary">
        <h5>Welcome to the Department of Computer Science. The focus of the department is to lead in the 
            advancement of computer science by equipping faculty and students with competency resources 
            necessary to study and use in industry, academia, and government and to prepare the students 
            for a globalised technological society by equipping them with the knowledge and skills necessary
            to solve the complex technological problems of modern society.
        </h5>

        <h6>This feature will be achieved through the following missions:</h6>
        <ol>
            <li>
                To engage our students by providing high-quality professional education and research 
                experiences both in and out of the classroom through the promotion of collaborative and 
                multidisciplinary activities;
            </li>

            <li>
                To prepare our students for full and ethical participation in a diverse society 
                and encourage lifelong learning;
            </li>

            <li>
                To impart moral and ethical values, and interpersonal skills to the students.
            </li>

            <li>
                Increase our outreach and connections to alumni and with businesses and industry
                both locally and across the country to aid development efforts.
            </li>
        </ol>
    </div>

{% endblock content %}